:root{
--main-darkblue-color: #0F3E58;
--main-light-blue: #4483A6;
--white: #fff;
--black: #000;
--off-white: #F0F0F0;
--main-green: #2AA736;
--dark-green: #198324;
--notify-green: #0FCC22;
--hover-green: #8cd393;
--bg-color: #FFFCF3;
--delete-red: #A72A2A;
}