@media only screen and (max-width: 1000px) {
    
    h1{
        font-size: 24px !important;
    }

    .Title{
        font-size: 14px !important;
    }

    h2{
        font-size: 20px;
    }

    .headerbar{
        height: 38px !important;
    }
    
    .bottombar{
        height: 48px !important;
        width: 100vw !important;
    }

    .left_menu{
        height: -webkit-fill-available !important;
        font-size: 11px !important;
        margin: 0px 0px !important;
    }

    .left_menu a{
        padding: 5px 15px !important;
        justify-content: flex-start !important;

    }
    
    .left_menu div{
        white-space: Nowrap !important;
    }

    .left_menu img{
        height: 24px;
        width: auto;
    }

    .myBag-Table, .addNewClubTable, .playHole-Table, .coursesTable, .editClubSection{
        width: 90vw !important;
        margin-top: 50px !important;
        margin-bottom: 50px !important;
        overflow: hidden;
    }

    #myImage{
        width: 100%;
        height: auto;
        display: block;
        margin: 0 auto;    
    }

    .MybagTableTitle{
        font-size: 24px;
    }

    .clubInfo img{
        width: 30px;
        height: auto;
    }

    .ClubHeader, .addNewClubHeader, .editClubHeader{
        font-size: 20px;
    }

    #showClubs{
        font-size: 21px;
    }

    .clubType {
        font-size: 20px !important;
    }

    .clubBrand{
        font-size: 14px !important;
    }

    #clubDistance{
        font-size: 20px !important;
    }
}