@import "Colorsheet.css";

body {
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
    background-color: var(--bg-color); /* Ensure --bg-color is defined in Colorsheet.css */
}

a {
    color: inherit;
    text-decoration: inherit;
}

.headerbar {
    background-color: var(--main-darkblue-color); /* Ensure --main-darkblue-color is defined in Colorsheet.css */
    color: var(--white); /* Ensure --white is defined in Colorsheet.css */
    padding: 5px 0px;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    overflow: hidden;
    width: 100vw;
}

h1 {
    font-size: 2rem;
}

.bottombar {
    background-color: #0F3E58;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: fixed;
    bottom: 0;
    overflow: hidden;
    width: 100vw;
    height: 90px;;
}

.bottombarContent{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60vw;
}

.left_menu {
    display: flex;
    flex-direction: row;
    margin: 0px 25px;
}

.left_menu a {
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.left_menu a:hover {
    background-color: var(--main-light-blue); /* Ensure --main-light-blue is defined in Colorsheet.css */
}

.left_menu a.active {
    background-color: var(--main-light-blue); /* Ensure --main-light-blue is defined in Colorsheet.css */
}

.right_menu {
    padding: 10px 25px;
}

.golffield{
    position: fixed;
    bottom: 54px;
    overflow: hidden;
    right: 0;
    z-index: -10;
    width: 30vw;
    height: auto;
}

.myBag-Table,
.playHole-Table,
.coursesTable,
.myScorecard-Table,
.scoreCardFullContent{
    width: 60vw;
    margin: auto;
    background-color: var(--white);
    margin-top: 6rem;
    margin-bottom: 6rem;
    overflow-y: auto;
}

.scoreCardTable{
    width: 60vw;
    margin: auto;
    background-color: var(--white);
    margin-top: 6rem;
    overflow-y: auto;
}

.playHole-Table {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tableHeader,
.courseTableHeader,
.scoreCard-TableHeader {
    padding: 0px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--dark-green);
    margin-top: 5px;
}

.MybagTableTitle,
.courseTableHeaderTitle,
.myScorecardTableTitle,
.scoreCardTitle {
    color: var(--white); /* Ensure --main-darkblue-color is defined in Colorsheet.css */
}

.addClub {
    width: 25px;
}

.ClubHeader,
.addNewClubHeader,
.courseHeader,
.editClubHeader,
.scoreCardHeader {
    padding: 0px 10px;
    background-color: var(--main-green); /* Ensure --main-green is defined in Colorsheet.css */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: var(--white); /* Ensure --white is defined in Colorsheet.css */
}

.playHoleHeader {
    width: -webkit-fill-available; /* Can also use width: 100%; for better compatibility */
    padding: 20px 10px;
    background-color: var(--main-green); /* Ensure --main-green is defined in Colorsheet.css */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: var(--white); /* Ensure --white is defined in Colorsheet.css */
}

.clubContent,
.courseListItem,
.scoreCardContent {
    display: flex;
    justify-content: space-between;
    padding: 5px 10px;
    border-bottom: 1px solid var(--main-green); /* Ensure --main-green is defined in Colorsheet.css */
    align-items: center;
}

.clubContentLeft {
    display: flex;
    gap: 10px;
}

.clubInfo,
.courseInfo {
    display: flex;
    flex-direction: column;
    width: 30vw;
}

.clubType,
.courseName {
    width: -webkit-fill-available;
    font-size: 1.2rem;
    margin: 0px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.clubBrand,
.courseLocation {
    font-size: 1rem;
    margin: 0px;
}

#clubDistance,
.roundInfo {
    font-size: 1.2rem;
    font-weight: bold;
}

.clubDistanceField{
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

#myImage {
    /*width: 600px; /* Adjust as needed */
    /*height: auto;*/
    border: 1px solid black;
}

.deleteDialogBox{
    padding: 0px;
    border: 2px solid var(--delete-red);
}

.addNewClubDialogbox, .editClubDialogbox{
    padding: 0px;
    border: 0px;
    border-radius: 5px;
}

.deleteDialogHeader{
    background-color: var(--delete-red);
    padding: 5px 10px;
}

.deleteDialogHeader h2{
    margin: 0px;
    color: var(--white);
}

.deleteDialogText{
    padding: 5px 10px;
}

.deleteDialogButtons{
    padding: 5px 10px;
}

#Message, #suggestedClub {
    margin: 0px 0;
    font-size: 18px;
}

.distanceHeaders{
    font-weight: bold;
}



.addNewClubTable input, .editClubTable input{
    border: 1px solid #c4c4c4;
    height: 30px;
}

.addNewClubSection, .editClubSection{
    padding: 0px 10px;
    padding-bottom: 20px;
}

.addNewClubSection h3, .editClubSection h3{
    margin-bottom: 5px;
}

.addNewClubSection input, .editClubSection input{
    width: -webkit-fill-available;
    font-size: 16px;
    padding: 0px 5px;
}

.addNewClubTable, .editClubTable{
    width: 30vw;
    margin: auto;
    background-color: var(--white);
    overflow-y: auto;
}

.addNewClubButtons, .editClubButtons{
    display: flex;
    flex-direction: row;
    width: -webkit-fill-available;
}

.addNewClubButtons button, .editClubButtons button{
    width: 40vw;
    height: 40px;
    font-size: 14px;
    font-weight: bold;
    color: var(--white);
    border: 0px;
    margin: 5px 10px;
    border-radius: 5px;
}

.addNewClubCancel, .deleteClubButton{
    background-color: var(--delete-red);
}

.deleteScoreCardButton{
    width: 10vw;
    height: 40px;
    font-size: 14px;
    font-weight: bold;
    color: var(--white);
    border: 0px;
    margin: 5px 10px;
    border-radius: 5px;
    background-color: var(--delete-red);
}

.addNewClubSave, .editClubSave{
    background-color: var(--main-green);
}

.closeIcon{
    padding-right: 5px;
}

.holeNavButtons, .scorecardButtons{
    display: flex;
    flex-direction: row;
    width: -webkit-fill-available;
    justify-content: center;
    margin-top: 10px;
    gap: 10px;
}

.scorecardButtons{
    border-bottom: 2px solid var(--main-green);
}

.previousHoleButton{
    background-color: var(--delete-red);
    width: -webkit-fill-available;
    border: 0px;
    height: 40px;
    border-radius: 5px;
    font-size: 16px;
    color: var(--white);
}

.nextHoleButton{
    background: var(--main-green);
    width: -webkit-fill-available;
    border: 0px;
    height: 40px;
    border-radius: 5px;
    font-size: 16px;
    color: var(--white);
}

.addStrokeButton{
    background: var(--main-darkblue-color);
    width: -webkit-fill-available;
    border: 0px;
    height: 40px;
    border-radius: 5px;
    font-size: 16px;
    color: var(--white);
    margin-bottom: 10px;
}

.addPuttButton{
    background: var(--main-light-blue);
    width: -webkit-fill-available;
    border: 0px;
    height: 40px;
    border-radius: 5px;
    font-size: 16px;
    color: var(--white);
}

.scoreCardCourseInfo{
    display: flex;
    flex-direction: row;
    width: 40%;
    justify-content: space-between;
}

.scoreCardContentLeft{
    display: flex;
    flex-direction: row;
    width: 40%;
    justify-content: space-between;
}

.scoreCardPlayedContent{
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid var(--main-green); /* Ensure --main-green is defined in Colorsheet.css */
}

.holeTitle{
    background: var(--main-green);
    padding: 5px 10px;
    color: var(--white);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.strokeInfo{
    display: flex;
    flex-direction: row;
    width: -webkit-fill-available;
    justify-content: space-between;
    padding: 5px 10px;
    border-bottom: 1px solid var(--main-green);
}