@media only screen and (max-width: 680px) {
    
    h1{
        font-size: 24px !important;
    }

    .Title{
        font-size: 14px !important;
    }

    h2{
        font-size: 20px;
    }

    .headerbar{
        height: 38px !important;
    }
    
    .bottombar{
        height: 48px !important;
        width: 100vw !important;
    }

    .bottombarContent{
        justify-content: center !important;
        width: 100vw !important;
    }

    .left_menu{
        height: -webkit-fill-available !important;
        font-size: 11px !important;
        margin: 0px 0px !important;
    }

    .left_menu a{
        padding: 5px 15px !important;
        justify-content: flex-start !important;

    }
    
    .left_menu div{
        white-space: Nowrap !important;
    }

    .left_menu img{
        height: 24px;
        width: auto;
    }

    .myBag-Table, .playHole-Table, .coursesTable, .editClubTable, .myScorecard-Table, .scoreCardFullContent{
        width: 90vw !important;
        margin-top: 50px !important;
        margin-bottom: 50px !important;
        overflow: hidden;
    }

    .scoreCardTable{
        width: 90vw !important;
        margin-top: 50px !important;
        overflow: hidden;
    }

    #myImage{
        width: 100%;
        height: auto;
        display: block;
        margin: 0 auto;
        max-height: 80vh !important;  
    }

    .clubInfo img{
        width: 30px;
        height: auto;
    }

    .ClubHeader, .addNewClubHeader, .editClubHeader{
        font-size: 20px;
    }

    #showClubs{
        font-size: 21px;
    }

    .clubType {
        font-size: 20px !important;
    }

    .clubBrand{
        font-size: 14px !important;
    }

    #clubDistance{
        font-size: 20px !important;
    }

    #Message, #suggestedClub {
        margin: 0px 0;
        font-size: 18px;
    }

    .addNewClubDialogbox, .editClubDialogbox{
        min-width: fit-content !important;
    }

    .addNewClubTable, .editClubTable{
        width: 90vw !important;
        overflow: hidden;
        margin: 0px !important;
    }

    .golffield{
        bottom: 34px !important;
        width: 60vw !important;
    }

    .scoreCardCourseInfo{
        display: flex;
        flex-direction: row;
        width: 50% !important;
        justify-content: space-between;
    }
    
    .scoreCardContentLeft{
        display: flex;
        flex-direction: row;
        width: 50% !important;
        justify-content: space-between;
    }

    .deleteScoreCardButton{
        width: 30vw !important;
    }
}