@media only screen and (max-width: 1000px) {
    
    .Title{
        font-size: 23px !important;
    }

    h2{
        font-size: 20px;
    }
    
    .bottombar{
        height: 97px !important;
        width: 100vw !important;
    }

    .left_menu{
        height: -webkit-fill-available !important;
        font-size: 18px !important;
        margin: 0px 0px !important;
    }

    .left_menu a{
        padding: 5px 15px !important;
        justify-content: flex-start !important;

    }
    
    .left_menu div{
        white-space: Nowrap !important;
    }

    .left_menu img{
        height: -webkit-fill-available;
        width: auto;
        max-height: 47px !important;
        max-width: 38px !important;
    }

    .myBag-Table, .addNewClubTable, .playHole-Table, .coursesTable{
        width: 90vw !important;
    }

    #myImage{
        width: -webkit-fill-available !important;
        height: auto;
    }

    .MybagTableTitle{
        font-size: 24px;
    }

    .clubInfo img{
        width: 30px;
        height: auto;
    }

    .ClubHeader, .addNewClubHeader{
        font-size: 20px;
    }

    #showClubs{
        font-size: 21px;
    }

    .clubType {
        font-size: 20px !important;
    }

    .clubBrand{
        font-size: 14px !important;
    }

    #clubDistance{
        font-size: 20px !important;
    }
}